{% extends 'layout.html' %}

{% block title %}
    Add category
{% endblock %}

{% block content %}
<h1 class="display-1">add category</h1>
<form action="" method="post" class="form">
    <div class="form-group">
       <label for="name" class="form-label">Category Name:</label>
       <input type="text"
       name="name"
       id="name"
       class="form_control"
       required>
    </div>
    
    <div class="form_group">
        <button type="submit" class="btn btn-success">
            <i class="fa5 fa-plus"></i> 
            Add
        </button>
    </div>
</form>
{% endblock %}