{% extends 'layout.html' %}

{% block title %}
    Add category
{% endblock %}

{% block content %}
<h1 class="display-1">add category</h1>
<form action="" method="post" class="form">
    <div class="form-group">
       <label for="name" class="form-label">Category Name:</label>
       <input type="text"
       name="name"
       id="name"
       class="form_control"
       required>
    </div>
    
    <div class="form_group">
        <button type="submit" class="btn btn-success">
            <i class="fa5 fa-plus"></i> 
            Add
        </button>
    </div>
</form>
<h2 class="display-2">Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>No of Services</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
       {% for category in categories %}
       <tr>
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>{{category.services|length}}</td>
            <td>
       
            <a href="{{url_for('show_category', id=category.id)}}" class="btn btn-primary">
                <i class="fas fa-search"></i>
                Show
            </a>
            <a href="{{url_for('edit_category', id=category.id)}}" class="btn btn-primary">
                <i class="fas fa-edit"></i>
                Edit
            </a>
            <a href="{{url_for('delete_category', id=category.id)}}" class="btn btn-danger">
                <i class="fas fa-trash"></i>
                Delete
            </a>
            
        </td>
        </tr>
         {% endfor %}
    </tbody>
</table>

{% endblock %}