{% extends 'layout.html' %}
{% block title %}
Admin dashboard

{% endblock %}
{% block content %}
<h1 class="display">Admin dashboard</h1>

<a href="{{url_for('add_category')}}" class="btn btn-success">
    <i class="fa-sharp-duotone fa-solid fa-house-user"></i>
    Service Management</a>


<a href="{{url_for('pending_professionals')}}" class="btn btn-primary">
    <i class="fa-solid fa-user-tie"></i>
    Professionals Management</a>

    
<a href="{{url_for('manage_customers')}}" class="btn btn-primary">
  <i class="fa-solid fa-users"></i>
  Client Management</a>
  



   


<hr>
<h2 class="display-2">Summary:</h2>
<div class="chart-container">
<div>
  <h3>Category Chart</h3>
  <canvas id="myChart1" width="400" height="600"></canvas>
</div>

<div>
  <h3>Professional Status Chart</h3>
  <canvas id="myChart2" width="400" height="600"></canvas>
</div>
</div>

<div>
  <h3>Customer Status Chart</h3>
  <canvas id="myChart3" width="400" height="600"></canvas>
</div>

{% endblock %}




{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx1 = document.getElementById('myChart1');

  new Chart(ctx1, {
    type: 'bar',
    data: {
      labels: {{ category_names|tojson }},
      datasets: [{
        label: 'No. of services in each category',
        data: {{ category_sizes|tojson }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: { beginAtZero: true }
      }
    }
  });

  const ctx2 = document.getElementById('myChart2');
  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: ['Pending', 'Blocked', 'Approved'],
      datasets: [{
        label: '# of professionals',
        data: {{ [pending_professionals[0], blocked_professionals[0], approved_professionals[0]]|tojson }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: { beginAtZero: true }
      }
    }
  });

  const ctx3 = document.getElementById('myChart3');
  new Chart(ctx3, {
    type: 'bar',
    data: {
      labels: ['Blocked', 'Unblocked'],
      datasets: [{
        label: '# of customers',
        data: {{ [blocked_customers[0], unblocked_customers[0]]|tojson }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: { beginAtZero: true }
      }
    }
  });
</script>
{% endblock %}

{% block style %}
<style>
  .chart-container {
    
    display: grid;
    justify-content: center;
    margin: 20px;

  }
  
</style>
{% endblock %}

  