{% extends 'layout.html' %}
{% block title %}
Customer Dashboard
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="display-4">Customer Dashboard</h1>
    <div class="profile-pic">
        <img src="https://api.dicebear.com/9.x/bottts/svg?seed={{ cust_name }}" width="100" alt="avatar">
    </div>
    <h3 class="text-muted">Welcome, {{ cust_name }} </h3>
    <hr>
    <h4>What would you like to do?</h4>
    <div class="row">
        <div class="col-md-2 mb-2">
            <div class="card" style="width: 100%;">
                <img src="https://api.dicebear.com/9.x/initials/svg?seed=Profile" class="card-img-top" alt="avatar">
                <div class="card-body">
                    <h5 class="card-title">My Profile</h5>
                    <p class="card-text">Edit Profile | Change Password</p>
                    <a href="{{ url_for('profile') }}" class="btn btn-primary stretched-link">Go To Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card" style="width: 100%;">
                <img src="https://api.dicebear.com/9.x/initials/svg?seed=Catalogue" class="card-img-top" alt="avatar">
                <div class="card-body">
                    <h5 class="card-title">Catalogue</h5>
                    <p class="card-text">Click here to view catalogue of services</p>
                    <a href="{{ url_for('catalogue') }}" class="btn btn-primary stretched-link">Catlogue</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card" style="width: 100%;">
                <img src="https://api.dicebear.com/9.x/initials/svg?seed=Schedules" class="card-img-top" alt="avatar">
                <div class="card-body">
                    <h5 class="card-title">Schedules</h5>
                    <p class="card-text">Take a look at your service requests</p>
                    <a href="{{ url_for('schedule') }}" class="btn btn-primary stretched-link">View My Schedules</a>
                </div>
            </div>
        </div>       
        <div class="col-md-3 mb-3">
            <div class="card" style="width: 100%;">
                <img src="https://api.dicebear.com/9.x/initials/svg?seed=Bookings" class="card-img-top" alt="avatar">
                <div class="card-body">
                    <h5 class="card-title">My Bookings</h5>
                    <p class="card-text">Confirmed schedules list</p>
                    <a href="{{ url_for('bookings') }}" class="btn btn-primary stretched-link">View My Bookings</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style>    
    .btn {
        margin-top: 20px;
    }
    .display-4{
        text-size-adjust: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    .profile-pic{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}