{% extends 'layout.html' %}

{% block title %}
    Delete USER
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center mb-4 text-danger">Delete User</h1>
    <p class="fs-5 text-center">Are you sure you want to delete User?</p>

    <div class="form-group">
        <label for="Username" class="form-label">Username</label>
        <select name="username" id="user" class="form-control" required>
            <option value="" disabled selected>Select a username</option>
            {% for user in user %}
                <option value="{{ user.username }}">{{ user.username }}</option>
                

            {% endfor %}

        </select>
        <br>
        <a href="{{ url_for('delete_control_post') }}" class="btn btn-danger">
            <i class="fa-regular fa-trash-can"></i> Delete User
        </a>
    </div>    
</div>
{% endblock %}
