{% extends 'layout.html' %}
{% block title %}
Professionals Management#
{% endblock %}
{% block content %}
{% include 'searchbar2.html' with context %}
<h1 class="display">Professionals Management</h1>
<a href="{{url_for('admin_db')}}" class="btn btn-primary">
    <i class="fa fa-angle-left"></i>
    back</a>

<hr>
<!-- {%if pname%}
{%for s in sp %}
<li>
    {{s.name}} | {{s.email}} | {{s.location}}
</li>
{%endfor%}
{%endif%} -->




<div class="heading">
    <div class="container mt-5">
        <h2>Pending Professionals</h2>
        <ul class="list-group">
            {% for professional in pending_professionals %}
            <li class="list-group-item">
                {{ professional.name }} | {{ professional.email }} | | {{ professional.location }}
                <a href="{{ url_for('static', filename='uploads/' ~ professional.filename) }}" target="_blank">View Uploaded Document</a><br>
                <!-- <iframe src="{{ url_for('static', filename='uploads/' ~ professional.filename) }}" width="100%" height="600px">    </iframe> -->
    
                <form action="{{ url_for('approve_professional', id=professional.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-success btn-sm">Approve</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <h2>Approved Professionals</h2>
        <ul class="list-group">
            {% for professional in approved_professionals %}
            <li class="list-group-item">
                {{ professional.name }} - {{ professional.email }}
            </li>
            <form action="{{ url_for('block_professional', id=professional.id) }}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-success btn-sm">Block</button>
            </form>
            {% endfor %}
        </ul>
        <h2>Blocked Professionals</h2>
        <ul class="list-group">
            {% for professional in blocked_professionals %}
            <li class="list-group-item">
                {{ professional.name }} - {{ professional.email }}
            </li>
            <form action="{{ url_for('unblock_professional', id=professional.id) }}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-success btn-sm">Unblock</button>
            </form>
            {% endfor %}
        </ul>
        


        
        

    </div>
</body>
</html>
{% endblock %}