{% extends'layout.html'%}

{% block title %}
<h1>welcome professional</h1>   
{% endblock %}

{% block content %}
    

Update your profile before you can view your appointments

<form action="{{url_for('register_pdb')}}" class="form" method="POST" enctype="multipart/form-data">    
    <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" required class="form-control">
    </div>
    
    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" required class="form-control">
    </div>
    <div class="form-group">
        <label for="contact" class="form-label">Contact</label>
        <input type="number" name="contact" required class="form-control">
    </div>
    <div class="form-group">
        <label for="service_type" class="form-label">Service_type</label>
        <input type="text" name="service_type" required class="form-control">
    </div>
    <div class="form-group">
        <label for="experience" class="form-label">Experience</label>
        <input type="number" name="experience" required class="form-control">
    </div>
    <div class="form-group">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="location" required class="form-control">
    </div>
    <div class="form-group">
        <input type="hidden" name="is_verified" value="False">
   
        <input type="hidden" name="is_flagged" value="False">
    </div>

    
    <br>
    <div class="form-group">
        
        <div>
            
                <input type=file name=file required>
                <input type=submit value=Submit>

              </form>
        </div>
        <div class="form-group">
            <p>
                <button type="submit" class="btn btn-primary">Register</button>
            </p>
        </div>
    </div>
    
  

        

    <h3>
        list job assigned to him
    </h3>
    <a href="">
        <button class="btn btn-primary">View Appointments</button>
    </a>
    <a href="#">
        <button class="btn btn-primary">Accept Appointment</button>
    </a>
    <a href="#">
        <button class="btn btn-primary">Reject Appointment</button>
    </a>
</form>
{% endblock %}