{% extends'layout.html'%}

{% block title %}
<h1>welcome customer name placeholder</h1>   
{% endblock %}

{% block content %}
    

Update your profile before you can view your appointments

<form action="" class="form">
    
    <div class="form-group">
        <label for="username" class="form-label">username</label>
        <input type="text" name="username" required class="form-control">
    
    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" required class="form-control">
    </div>
    <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" required class="form-control">
    </div>
    <div class="form-group">
        <label for="contact" class="form-label">Contact</label>
        <input type="text" name="contact" required class="form-control">
    </div>
    <div class="form-group">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="location" required class="form-control">
    </div>
        <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" required class="form-control">
    </div>  
    <br>
    <div class="form-group">
        <p>
    
    <a href="{{ url_for('view_services')}}" class="btn btn-primary">Login</a>
    </p>
    
    </div>

gets to see all the services

list of services 
<a href="#">Open request</a>
<a href="#">close request</a>
<a href="#">write reviews</a>
<a href="#">suggestions</a>


</form>
{% endblock %}
  

        
